body{
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

h1{
  color: rgb(255, 255, 255);
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
