body{
  background: rgb(169,236,203);
background: linear-gradient(337deg, rgba(169,236,203,1) 0%, rgba(237,168,64,1) 100%);
}

h1{
  color: rgb(26, 48, 129);
  font-style: oblique;
  font-weight: bolder;
}

h2{
  color:rgb(26, 48, 129);
  font-style: oblique;
  font-weight: bolder;
  font-size: 40;
}

input#boton{
width:60px;
height:60px;
background-color: rgb(237, 251, 21);
color: rgb(58, 4, 194);
}
button#bot{
  width:100px;
  height:60px;
  background-color: rgb(237, 251, 21);
  color: rgb(58, 4, 194);
}
